<!-- <div>
  <div cdkDropList class="example-list" (cdkDropListDropped)="dropGame($event)">
    <div class="example-box" *ngFor="let game of userGames" cdkDrag>{{game.name}}</div>
  </div>
</div>

<div>
  <div cdkDropList class="example-list" (cdkDropListDropped)="dropQuestion($event)">
    <div class="example-box" *ngFor="let question of userQuestions" cdkDrag>{{question.name}}</div>
  </div>
</div> -->

<div>
  <div *ngFor="let session of userSessions">
    <app-session-card [session]="session"></app-session-card>
  </div>
</div>
