<div class="register-page">
  <div class="register-form-wrapper">
    <h2 class="register-headline mat-headline">Register</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="register-inputs">
        <mat-form-field>
          <input formControlName="email" matInput placeholder="Email">
          <mat-error *ngIf="f.email.errors">{{getEmailErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="password" matInput placeholder="Password" [type]="hidePassword ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="f.password.errors">You must enter a value</mat-error>
        </mat-form-field>
      </div>
      <div class="register-actions">
        <div class="left-side">
          <button class="register-button" [disabled]="loading" color="primary" mat-stroked-button>Register</button>
          <a class="register-button" [routerLink]="['/register']" class="btn btn-link" color="secondary"
            mat-stroked-button>Register</a>
        </div>
        <div class="right-side">
          <mat-spinner *ngIf="loading" [diameter]="30"></mat-spinner>
        </div>
      </div>
    </form>
  </div>
</div>
