.register-page
  align-items center
  display flex
  flex-direction column
  height 100%
  justify-content center

.register-headline
  text-align center

.register-inputs
  margin-bottom 0.5rem

.register-actions
  display flex
  justify-content space-between

  .register-button
    margin-right 0.5rem

mat-form-field
  width 100%
